html {
	scroll-behavior: smooth;
}
  
body {
    background-color: burlywood;
}

.img {
	width: 100px;
	height: auto;
}

.footerCenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
 }
 
a {
	display: inline-block;
	padding: 0px 10px;
}

ul li {
	display: inline;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
	display: none;
}


